<div class="container-fluid mt-5">
  <div class="header row">
    <div class="mx-auto">
      <div class="col">
        <h2>welcome to <i class="fas fa-nanitaberu"></i>Nanitaberu !!</h2>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="footer row">
    <div class="mx-auto">
      
    </div>
  </div>
</div>